.header-container
  .header-content
    a(href="index.html").header-left

      img.skull(src='@images/icons/skull.png')
      //span App demo
    .header-middle
      a(href="index.html") Home
      a(href="contacts.html") Contacts

    .header-right
